version: "3"
services:
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=$DB_USER
      - POSTGRES_PASSWORD=$DB_PASSWORD
      - POSTGRES_DB=$DB_NAME
    volumes:
      - data:/var/lib/postgresql/data
      - ./migrations/:/docker-entrypoint-initdb.d/
    ports:
      - 5432:5432
  redis:
    image: redis:6.2
    ports:
      - 6379:6379
  consumer:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        app: consumer
    entrypoint: ["./consumer"]
    env_file: .env
    depends_on:
      - postgres
  api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        app: api
    entrypoint: ["./api"]
    env_file: .env
    depends_on:
      - postgres
      - redis
volumes:
  data: